@model flightMVC.Models.Route

@{
    ViewData["Title"] = "Route Details";
}

<h2>Details for the Route</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureAirport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureAirport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureAirport.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureAirport.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirport.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirport.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RouteCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RouteCode)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
