@{
    ViewData["Title"] = "Route Home Page";
}

@model IEnumerable<flightMVC.Models.Route>

<h3 style="color:red;">@TempData["msj"]</h3>
<p>
    <a asp-action="Create">Add New Route</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureAirport.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalAirport.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureAirport.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalAirport.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a href="javascript:void(0)" onclick="deleteRoute(@item.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
function deleteRoute(id) {
    if(confirm("Are you sure you want to delete this route?")) {
        $.ajax({
            url: '@Url.Action("DeleteRoute", "Route")',
            type: 'POST',
            data: { id: id },
            success: function(response) {
                if(response.success) {
                    alert(response.message);
                    location.reload(); // Reloads the current page
                } else {
                    alert(response.message);
                }
            }
        });
    }
}
</script>
