@{
    ViewData["Title"] = "User Home Page";
}

@model IEnumerable<flightMVC.Models.User>

<h3 style="color:red;">@TempData["msj"]</h3>
<p>
    <a asp-action="Create">Add New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a href="javascript:void(0)" onclick="deleteUser(@item.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
function deleteUser(id) {
    if(confirm("Are you sure you want to delete this user?")) {
        $.ajax({
            url: '@Url.Action("Delete", "User")', // Ensure this matches your delete action in UserController
            type: 'POST',
            data: { id: id },
            success: function(response) {
                if(response.success) {
                    alert(response.message);
                    location.reload(); // Reloads the current page
                } else {
                    alert(response.message);
                }
            }
        });
    }
}
</script>
