@model flightMVC.ViewModels.BookingDetailsViewModel

@{
    ViewData["Title"] = "Booking Details";
    var totalSeats = Model.AircraftModel.Capacity;
    var rows = (int)Math.Ceiling(totalSeats / 8.0);
}

@{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-success">
            @TempData["msg"]
        </div>
    }
}

<h2>Details for the Booking</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PurchaseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PurchaseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.SeatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.SeatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.FlightNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.FlightNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Surname)
        </dd>
    </dl>
</div>

<!-- Render Plane Seats -->
<div class="form-group">
    <h2>Seat Layout</h2>

    @for (int row = 0; row < rows; row++)
    {
        <div class="seat-row">
            @for (int seat = 0; seat < 8; seat++)
            {
                int seatNumber = row * 8 + seat;
                <label class="seat">
                    <input type="radio" name="SeatNumber" disabled="disabled" ) />
                    <span class="@(Model.Booking.SeatNumber == seatNumber ? "booked-seat-design" : "seat-design")"></span>
                </label>
                if (seat == 3)
                {
                    <div class="corridor"></div>
                }
            }
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
