@model flightMVC.ViewModels.FlightDetailsViewModel

@{
    ViewData["Title"] = "Flight Details";
    var totalSeats = Model.Aircraft.AircraftModel.Capacity;
    var rows = (int)Math.Ceiling(totalSeats / 8.0);
}


<h2>Details for the Flight</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.FlightNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.FlightNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.DepartureAirport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.DepartureAirport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.ArrivalAirport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.ArrivalAirport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aircraft.AircraftName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aircraft.AircraftName)
        </dd>
    </dl>
</div>

<!-- Render Plane Seats -->
<div class="form-group">
    <h2>Seat Layout</h2>

    @for (int row = 0; row < rows; row++)
    {
        <div class="seat-row">
            @for (int seat = 0; seat < 8; seat++)
            {
                int seatNumber = row * 8 + seat;
                <label class="seat">
                    <span class="@(Model.BookedSeats.Contains(seatNumber) ? "booked-seat-design" : "seat-design")"></span>
                </label>
                if (seat == 3)
                {
                    <div class="corridor"></div>
                }
            }
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
