@model flightMVC.ViewModels.FlightDetailsViewModel

@{
    ViewData["Title"] = "Flight Details";
}



<h2>Details for the Flight</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.FlightNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.FlightNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.DepartureAirport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.DepartureAirport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.ArrivalAirport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.ArrivalAirport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aircraft.AircraftName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aircraft.AircraftName)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
